.mainImg{
  background: url('/public/bg.png') no-repeat center/cover;
  width: 100vw;
  height: 300px;
}
.listWrap{
  display: flex;
  flex-flow: row nowrap;
  background-color: #F4F4F4;
  padding: 30px;
  width: 100vw;
}
ul:has(.item){
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 20px;
}
.item{
  width: calc(100% / 3.3);
  border: 1px solid #FFF;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content:flex-start;
  align-items: center;
}
.item>h4{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
}
.item>p{
  margin-bottom: 30px;
}
.addButton{
  display: block;
  width:fit-content;
  margin: 10px auto;
  border: none;
  border-radius: 5px;
  padding: 10px;
}